# Docker values for Typesense, Redis, RabbitMQ, Product, and Session.
SEARCH_HTTP_ADDR=:8085
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=local_typesense_key
TYPESENSE_PRODUCTS_COLLECTION=products
TYPESENSE_POPULAR_QUERIES_COLLECTION=popular_queries
SEARCH_REDIS_ADDR=redis:6379
SEARCH_REDIS_PASSWORD=local_redis_password
SEARCH_REDIS_DB=4
QUEUE_PROVIDER=rabbitmq
RABBITMQ_URL=amqp://ecommerce:local_rabbitmq_password@rabbitmq:5672/ecommerce
SEARCH_INDEXER_ENABLED=true
PRODUCT_INDEXER_ROUTING_KEYS=product.created,product.updated,product.published,product.unpublished,product.deleted,inventory.changed,price.changed
PRODUCT_SERVICE_URL=http://product-service:8082
SESSION_SERVICE_URL=http://session-service:8086
SEARCH_ZERO_RESULT_TRACKING_ENABLED=false
SEARCH_ADMIN_AUTH_ENABLED=false
