# Docker values. Local dummy token/password values must be replaced outside local development.
SERVICE_NAME=superadmin-service
APP_ENV=local
HTTP_ADDR=:8088
SUPERADMIN_DATABASE_DSN=root:local_password@tcp(mysql:3306)/superadmin_db?parseTime=true&multiStatements=true
SUPERADMIN_REQUIRE_DATABASE=true
SUPERADMIN_REQUIRE_USER_SERVICE=true
SUPERADMIN_REQUIRE_ORDER_SERVICE=true
SUPERADMIN_REQUIRE_PAYMENT_SERVICE=true
SUPERADMIN_REQUIRE_SESSION_SERVICE=true
SUPERADMIN_LOG_LEVEL=info
USER_SERVICE_ADMIN_BASE_URL=http://user-service:9091
USER_SERVICE_ADMIN_TOKEN=local_superadmin_internal_token_change_me
ORDER_SERVICE_ADMIN_BASE_URL=http://order-service:8090
ORDER_SERVICE_ADMIN_TOKEN=local_superadmin_internal_token_change_me
PAYMENT_SERVICE_ADMIN_BASE_URL=http://payment-service:8080
PAYMENT_SERVICE_ADMIN_TOKEN=local_payment_internal_token_change_me_32_chars
SESSION_SERVICE_ADMIN_BASE_URL=http://session-service:8086
SESSION_SERVICE_ADMIN_TOKEN=local_superadmin_internal_token_change_me
SESSION_SERVICE_TIMEOUT=5s
SUPERADMIN_PLATFORM_SETTINGS_EVENT_TOPIC=platform.settings.events
