# Docker values. For host execution use localhost for MongoDB, Redis, Product, and CMS.
CART_SERVICE_NAME=cart-service
APP_ENV=local
CART_HTTP_ADDR=:8083
CART_MONGO_URI=mongodb://local_admin:local_mongo_password@mongodb:27017/?authSource=admin
CART_MONGO_DATABASE=cart_db
CART_REDIS_ADDR=redis:6379
CART_REDIS_PASSWORD=local_redis_password
CART_REDIS_DB=2
CART_PRODUCT_BASE_URL=http://product-service:8082
CART_CMS_BASE_URL=http://cms-service:8087
CART_MAX_ITEMS=100
CART_MAX_QUANTITY_PER_ITEM=10
CART_TTL=720h
