# Docker values. Local dummy DB password only.
CMS_ENV=local
CMS_HTTP_ADDR=:8087
CMS_GRPC_ADDR=:9098
CMS_MYSQL_DSN=root:local_password@tcp(mysql:3306)/cms_db?parseTime=true&multiStatements=true
CMS_DB_HOST=mysql
CMS_DB_PORT=3306
CMS_DB_USER=root
CMS_DB_PASSWORD=local_password
CMS_DB_NAME=cms_db
CMS_PRODUCT_SERVICE_BASE_URL=http://product-service:8082
CMS_GRPC_ALLOWED_INTERNAL_CALLERS=api-gateway,cart-service,order-service
